<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesion</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script>

        function error(msg){
            document.getElementById("error").innerHTML += `${msg}<br>`
        }
        function validateForm() {
            document.getElementById("error").innerHTML = ''
            let valid = true;
            let keys = ["name", "surname", "email"]
            keys.forEach(key => {
                if (document.getElementById("form")[key].value == "") {
                    error(`${key} is required`)
                    valid = false;
                }
            })
            if (true) {
                document.getElementById("form").submit();
            }
        }
        window.onload = function(){
            document.getElementById("bidali").addEventListener('click', validateForm)
        }
    </script>
</head>

<body>

<!-- create a form with 3 fields and 3 labels, name, surname and email -->
<form action="/api/v1/players/login" method="post" id="form">
    <h1>Iniciar sesión</h1>
    <p>
        <label for="name">Nombre: </label> <input type="text" name="izena" id="name">
    </p>
    <p><label for="surname">Apellido: </label>
        <input type="text" name="abizena" id="surname">
    </p>
    <p>
        <label for="email">Email: </label>
        <input type="text" name="email" id="email">
        <%= fallo%>
    </p>
    <input type="button" value="Iniciar sesion" id="bidali" style="width:100px; height:30px">
    <a href="/api/v1/players/registrar">Registrarse</a>
</form>

<div id="error"></div>

</body>
</html>
